<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <ul class="sidebar-menu">
           <% if(user){ %>
            <li><a href="/whoweare"><img class="mr-2 rounded-circle" src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="" style = "width: 20px;height: auto;"><span><%= user.username %> (you)</span></a></li>
           <% } %>
            <li class="header mt-2 text-center text-uppercase" style = "color: #d3d3d3;font-size: 15px;background: #303030">Top contributors</li>
            <li class="header mt-2 text-center text-uppercase" style = "color: #d3d3d3;font-size: 15px;">Should also visit</li>
            <li><a href="/links/1"><i class="fa fa-link"></i> <span>Homework and Notes</span></a></li>
            <li><a href="/exam/1"><i class="fa fa-link"></i><span>Exam Week</span></a></li>
            <% if(user){ %>
                <!-- <li><a href="https://wa.me/918077785719/?text=Hi!I am <%= user.username %> I am sharing a Document.Please Upload it under my name on GLANETWORK"><i class="fa fa-upload"></i> <span>Upload Your Work</span></a></li> -->
                <li><a href = "/openwa"><i class="fa fa-upload"></i> <span>Contribute Your Work</span></a></li>
                <% } %>
            <li><a href="/authenticate"><i class="fa fa-user-circle"></i> <span>Member? Login</span></a></li>
            <li><a href="/whoweare"><i class="fa fa-info-circle"></i> <span>About us</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>